*.db
*.log
*.json
*scratch*
*.txt
!requirements.txt
!careers_page_list.txt
migrate.py
__pycache__
.vscode
lastcheck.toml
*.temp
peruse_filters.toml
add_to_bulk_add_list.py
condense_stillhiring.py
bulk_extract.py
dbmigrate.py
techjobsforgood_company_list.py
bulk_add_scrapable_boards.py
dump_data.py