argshell>=1.4.0
beautifulsoup4>=4.11.1
dacite>=1.8.0
databased>=4.3.1
gitbetter>=3.5.0
griddle>=0.0.1
gruel>=2.1.1
loggi>=0.4.1
noiftimer>=2.4.1
pathier>=1.5.0
printbuddies>=1.4.1
quickpool>=0.1.1
requests>=2.31.0
scrapetools>=1.1.5
typing_extensions>=4.7.1
whosyouragent>=1.3.1
younotyou>=0.1.0