argshell>=1.6.3
beautifulsoup4>=4.11.1
dacite>=1.8.0
databased>=4.3.5
gitbetter>=4.0.1
griddle>=0.0.2
gruel>=4.0.0
loggi>=0.5.0
noiftimer>=2.4.3
pathier>=1.5.2
printbuddies>=2.1.3
quickpool>=1.0.2
requests>=2.31.0
rich>=13.7.0
scrapetools>=1.1.8
typing_extensions>=4.11.0
whosyouragent>=2.0.0
younotyou>=0.1.1